* {
    color: #fff;
}

.custom-bg-dark {
    background-color: #373f46 !important;
}

nav.navbar {
    height: 4rem;
}

a.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 3px;
}

li.nav-item a {
    text-transform: uppercase;
}
.btn-primary {
    background-color: #32aced !important;
}

.btn-success {
    background-color: #4fc08d !important;
}

.btn-success:hover {
    background-color: #3da978;
}
